bin
obj
classic_bin
classic_obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
_docs.xml
UpgradeLog*
docs/*.xml
.nuspec/*.nupkg
*UpgradeReport*
*.user
*.DS_Store
*.ide
.vs
Components
packages
Resource.designer.cs
